.bg-rooms {
  background-image: url("../image/aa.jpeg");
  background-clip: border-box;
  background-position: 0 -670px;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-rooms::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Negro semitransparente */
  z-index: 1; /* Debajo del texto pero encima del fondo */
}

.bg-rooms h2 {
  z-index: 2; /* Asegura que el texto esté encima del overlay */
}

/* para celulares  */

@media screen and (max-width: 950px) {
  .bg-rooms {
    background-position-y: 0;
  }
}

@media screen and (min-width: 951px) and (max-width: 1350px) {
  .bg-rooms {
    background-position: 0 -220px;
    background-size: cover;
  }
}

@media screen and (min-width: 1351px) and (max-width: 1620px) {
  .bg-rooms {
    background-position: 0 -420px;
    background-size: cover;
  }
}
