.bg-turism {
  background-image: url("../image/land.jpg");
  background-clip: border-box;
  background-position: 0%;
  background-position-y: top;
  background-size: cover;
}
.bg-turism::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.bg-turism h2 {
  z-index: 2;
}
